pkgbase = coffer
	pkgdesc = Growable, user-mountable encrypted single-file containers (SQLCipher + FUSE)
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/rtulke/cofferFS
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = perl
	depends = fuse3
	depends = gcc-libs
	depends = glibc
	options = !lto
	options = !debug
	source = cofferFS-0.1.2.tar.gz::https://github.com/rtulke/cofferFS/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = 0c235e888d0aedee7e264736685f9fe00a2b510dfef976b47d3db9c3eaf176b8

pkgname = coffer
